.product{
  padding: 116px 0;
  &__row{
    display: flex;
    column-gap: 53px;
  }
  &__title{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 133.69%;
    text-align: center;
    color: #1F2E35;
    margin-bottom: 47px;
  }
  &__content{
    &-img{
      margin-bottom: 16px;
    }
    &-title{
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 28px;
      line-height: 133.69%;
      color: #EE4248;
      margin-bottom: 15px;
    }
    &-text{
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 150%;
      color: #30444E;
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 1200px) {
  .product {
    padding: 68px 0;
   .product__row{
     justify-content: center;
   }
  }
  .product__content-title {
    font-size: 25px;
  }
  .product__content-text {
    font-size: 15px;
  }
}

@media (max-width: 1024px) {
  .btn {
    font-size: 15px;
    line-height: 20px;
  }
}

@media (max-width: 768px) {
  .product__title {
    font-size: 25px;
    margin-bottom: 45px;
  }
  .product__content-title {
    font-size: 20px;
  }
  .product__content-text {
    font-size: 12px;
  }
  .btn {
    font-size: 13px;
    line-height: 15px;
  }
}

@media (max-width: 576px) {
  .product {
    padding: 50px 0;
    .product__row{
      text-align: center;
    }
  }
  .product__content-text {
    font-size: 9px;
  }
  .btn {
    font-size: 12px;
    line-height: 11px;
  }
}

@media (max-width: 426px) {
  .product__row{
    flex-wrap: wrap;
  }
  .product__content-text {
    font-size: 10px;
  }
  .information__content{
    display: flex;
    width: 100%;
    column-gap: 10px;
  }
  .product__content3{
    margin-top: 20px;
  }
}

@media (max-width: 376px) {
  .product__content{
    margin-top: 20px;
  }
  .product__content-text {
    font-size: 13px;
  }
}